@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@import 'base.css';
@import 'header.css';
@import 'lists.css';
@import 'popups.css';
@import 'utilities.css';